<template>
  <layout-default :title="title">
    <div class="container">
      <div class="cardDetails" v-for="(name, index) in listArray" :key="index">
        <card-header :title="name.title" :index="index" />

        <div class="blank" v-if="name.toDoList.length == 0">
          List is empty.
        </div>

        <draggable
          @start="drag = true"
          @end="drag = false"
          v-if="name.toDoList.length > 0"
        >
          <div
            class="cardBoard"
            v-for="(element, index1) in name.toDoList"
            :key="element.id"
            :style="[baseStyle, element.overrideColor]"
          >
            <div class="cardBoard__selector">
              <div
                class="item"
                :style="[priorityStyle, element.borderColor]"
              ></div>

              <div class="extras">
                <div
                  @click="removeTodoList(index, index1)"
                  class="shortLink trashbin"
                >
                  <font-awesome-icon :icon="deleteIcon" />
                </div>
              </div>
            </div>

            <div class="cardBoard__descriptions">
              {{ element.description }}
            </div>
          </div>
        </draggable>

        <card-list :index="index" />
      </div>
      <card-entry />
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "@/layouts/DefaultLayout.vue";
import CardList from "@/components/cardList.vue";
import CardEntry from "@/components/cardEntry.vue";
import CardHeader from "@/components/cardHeader.vue";

import draggable from "vuedraggable";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faTrash } from "@fortawesome/free-solid-svg-icons";

import { mutations } from "@/statics/data/store.js";

export default {
  name: "homePage",
  components: {
    LayoutDefault,
    draggable,
    FontAwesomeIcon,
    CardList,
    CardEntry,
    CardHeader
  },
  data: function() {
    return {
      title: "Website Development",
      deleteIcon: faTrash,
      items: ["Add", "Remove"],
      editing: "",
      baseStyle: {
        borderLeft: "4px solid black"
      },
      priorityStyle: {
        backgroundColor: "rgba(111, 41, 97, 0.3)",
        border: "2px solid rgba(111, 41, 97, 0.5)",
        height: "3px"
      },
      index: 0
    };
  },
  computed: {
    listArray() {
      return mutations.getTodoList();
    }
  },
  methods: {
    removeTodoList(index, index1) {
      mutations.removeItem(index, index1);
    }
  }
};
</script>

<style lang="scss">
.blank {
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
}

.trashbin {
  color: gray;

  &:hover {
    color: red;
  }
}
.container {
  display: flex;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #f8fcff;

  ::-webkit-scrollbar {
    display: none;
  }

  padding: 0 10px;
  height: 100%;
  margin-top: 25px;
}

.cardDetails {
  background-color: #f1f5fb;
  margin: 20px 10px;
  padding: 5px;
  height: max-content;
  border: 1px solid #c9c9c9;
  border-radius: 5px;

  &__header {
  }

  width: 380px;
  // overflow-y: scroll;
  height: max-content;

  & > div {
    margin: 10px;
  }
}

.cardDetails .cardBoard {
  padding: 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px -1px rgba(146, 147, 161, 1);

  background: white;
  width: 340px;
  margin: 15px 5px;

  &__selector {
    display: flex;
    padding: 5px 10px;
    margin: 15px 10px;

    .item {
      border-radius: 6px;
      width: 9%;
      font-size: 1em;
    }

    .extras {
      margin-left: auto;
    }
  }

  &__descriptions {
    color: gray;
    font-size: 0.94em;
    margin: 10px;
    word-wrap: break-word;
  }
}
</style>
