<template>
  <layout-default>
    <div class="error-404">
      <h1>This page doesn’t exist</h1>
      <p>The link you clicked on may be broken or no longer exist.</p>
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "@/layouts/DefaultLayout.vue";

export default {
  name: "error-404",
  components: {
    LayoutDefault
  }
};
</script>

<style lang="scss" scoped>
.error-404 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  color: gray;
}
</style>
