<template>
  <div class="cardDetails__header">
    <div class="item">{{ title }}</div>
    <div class="item push">
      <AppDropdown style="width: 30px; height: 30px;">
        <template slot="toggler" :index="index">
          <div class="shortLink" style="padding: 0 10px; margin-right: -10px;">
            <font-awesome-icon :icon="dotIcon" />
          </div>
        </template>
        <AppDropdownContent>
          <div class="container">
            <div class="menu">
              <div
                class="menu__item"
                v-for="item in items"
                @click="itemClicked(index, item)"
                :key="item"
              >
                {{ item }}
              </div>
            </div>
          </div>
        </AppDropdownContent>
      </AppDropdown>
    </div>
  </div>
</template>

<script>
import AppDropdown from "@/components/AppDropdown.vue";
import AppDropdownContent from "@/components/AppDropdownContent.vue";

import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faEllipsisV } from "@fortawesome/free-solid-svg-icons";
import { store, mutations } from "@/statics/data/store.js";

import isPanelOpen from "@/mixins/isPanelOpen";

export default {
  name: "homePage",
  mixins: [isPanelOpen],
  components: {
    FontAwesomeIcon,
    AppDropdown,
    AppDropdownContent
  },
  props: {
    title: String,
    index: Number
  },
  data: function() {
    return {
      items: ["Add", "Remove"],
      dotIcon: faEllipsisV
    };
  },
  computed: {
    listArray() {
      return mutations.getTodoList();
    }
  },
  methods: {
    itemClicked(index, name) {
      if (name === "Add") {
        if (!store.listArray[index].newDataEntry)
          store.listArray[index].newDataEntry = !store.listArray[index]
            .newDataEntry;
      }

      if (name === "Remove") {
        this.destroyTodo(index);
      }
    },
    destroyTodo(index) {
      mutations.removeTodo(index);
    }
  }
};
</script>

<style lang="scss">
.container {
  display: flex;
}

.hide-bar {
  display: none;
}

.menu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #212529;
  cursor: pointer;
  margin: -20px 0 0 -5em;
  padding: 0.7em 0.2em 0.7em 0;
  position: static;
  text-align: left;
  z-index: 2;
  font-size: 0.8em;

  &__item {
    color: #212529;
    padding: 0.25em 1.5em;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }
}

.cardDetails {
  &__header {
    padding: 2px;
    display: flex;

    .item {
      padding: 10px 10px;
    }

    .item,
    .itemNew {
      font-size: 1.2em;
      font-weight: bold;
    }

    .push {
      position: static;
      margin-left: auto;
    }
  }
}
</style>
