<template>
  <div class="cardDetailsNew">
    <div class="cardDetailsNew__header">
      <div class="itemNew">
        <input
          class="new-todo"
          placeholder="Add new to do items"
          @keyup.esc="cancelEditing"
          v-on:keyup.enter="createTodo"
          :value="editing"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mutations } from "@/statics/data/store.js";

export default {
  name: "newEdits",
  props: {
    // editing: String
  },
  data: function() {
    return {
      editing: ""
    };
  },
  methods: {
    createTodo(event) {
      const textbox = event.target;
      this.editing = textbox.value;

      if (!this.editing) {
        return;
      }

      let newRecord = Object.assign({}, this.listArray, {
        id: mutations.generateUniqueId(),
        title: textbox.value,
        newDataEntry: false,
        toDoList: [],
        messageNewEntry: ""
      });

      mutations.addNewTodo(newRecord);

      textbox.value = "";
      this.editing = "";
    },
    cancelEditing() {
      this.editing = null;
    }
  },
  computed: {
    listArray() {
      return mutations.getTodoList();
    }
  }
};
</script>

<style lang="scss">
input {
  height: 30px;
  padding: 0 2px;
}

.cardDetailsNew {
  background-color: #f1f5fb;
  margin: 20px 10px;
  padding: 10px;
  width: min-content;
  opacity: 0.4;
  height: max-content;
  border: 1px solid #c9c9c9;
  border-radius: 5px;

  &__header {
    padding: 2px;
    display: flex;

    .item {
      padding: 10px 10px;
    }

    .item,
    .itemNew {
      font-size: 1.2em;
      font-weight: bold;
    }

    .push {
      position: relative;
      margin-left: auto;
    }
  }

  &:focus-within {
    opacity: 1;
  }
}
</style>
