<template>
  <div class="cardBoardEntry" v-if="listArray[index].newDataEntry">
    <select
      v-model="value"
      value-key="value"
      placeholder="Select"
      class="cardBoardEntry__priority"
    >
      <option
        v-for="item in priority"
        :key="item.value"
        :label="item.label"
        :value="item"
      >
        {{ item.label }}
      </option>
    </select>

    <div class="cardBoardEntry__commentBox">
      <textarea type="text" v-model="listArray[index].messageNewEntry" />
    </div>

    <div class="cardBoardEntry__buttonsE">
      <button class="buttonStyle item shortLink" @click="addToRecord(index)">
        Add Entry
      </button>
      <button class="buttonStyle item push shortLink" @click="cancel(index)">
        Cancel
      </button>
    </div>
  </div>
</template>

<script>
import { mutations } from "@/statics/data/store.js";

export default {
  name: "cardEntry",
  props: {
    index: Number
  },
  data: function() {
    return {
      value: null,

      priority: [
        {
          value: "High Priority",
          label: "High Priority"
        },
        {
          value: "Medium Priority",
          label: "Medium Priority"
        },
        {
          value: "Low Priority",
          label: "Low Priority"
        }
      ]
    };
  },
  methods: {
    addToRecord(index) {
      if (
        this.listArray[index].messageNewEntry.length < 1 ||
        !this.value.value
      ) {
        return;
      }

      let newRecord = Object.assign({}, this.listArray[index].toDoList, {
        id: mutations.generateUniqueId(),
        priority: this.value.value,
        description: this.listArray[index].messageNewEntry
      });

      mutations.addNewRecord(newRecord, index);
    },
    cancel(index) {
      this.messageNewEntry = "";
      mutations.setData(false, index);
    }
  },
  computed: {
    listArray() {
      return mutations.getTodoList();
    }
  },
  created() {
    this.value = this.priority[0].value;
  }
};
</script>

<style lang="scss">
.buttonStyle {
  padding: 0.46em 1.6em;
  margin: 0 0.2em 0.2em 0;
  color: rgba(0, 0, 0, 0.35);
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.05);
  background-color: #f8fcff;
  text-align: center;
  border-radius: 2px;
  font-weight: bold;
  outline: 0;

  &:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #000000;
  }
}

textarea {
  width: -moz-available;
  font-size: 1em;
  padding: 5px;
  max-width: 310px;
}

.shortLink {
  cursor: pointer;
}

.cardBoardEntry {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px -1px rgba(146, 147, 161, 1);

  background: white;
  width: 340px;
  margin: 15px 5px;

  &__priority {
    margin: 8px 10px;
    border-radius: 4px;
    width: max-content;
    height: 30px;
    background: white;
    color: black;
    height: 30x;
  }

  &__commentBox {
    color: gray;
    font-size: 0.9em;
    margin: 10px;
  }

  &__buttonsE {
    margin: 8px 10px;
    display: flex;

    .item {
      font-size: 1em;
    }

    .push {
      margin-left: auto;
    }
  }
}
</style>
