<template>
  <div class="heroInfo">
    <div class="description">
      <span>
        <div class="pageInfo">
          <div class="title">
            {{ title }}
          </div>
          <div class="type" style="margin-left: 10px;" v-if="isMobile">
            Template
          </div>
        </div>
        <!-- <div class="divider"></div> -->
      </span>
    </div>
    <div class="extra">
      <span>
        <div class="showMenu">
          <button class="showMenu__login">
            <font-awesome-icon :icon="menuDots" style="margin-right: 10px;" />
            Show Menu
          </button>
        </div>
      </span>
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faEllipsisH } from "@fortawesome/free-solid-svg-icons";

import isMobile from "@/mixins/isMobile";

export default {
  components: {
    FontAwesomeIcon
  },
  mixins: [isMobile],
  props: {
    title: String
  },
  data: function() {
    return {
      menuDots: faEllipsisH
    };
  }
};
</script>

<style lang="scss" scoped>
.heroInfo {
  display: flex;
  position: inherit;
  width: 100vw;
  align-items: center;
  margin-top: 25px;
}

button {
  font-weight: bold;
  outline: 0;
  padding: 5px 10px;
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px #f1f5fb;
  background: #f1f5fb;
  border: 1px solid #d3d3d3;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #f1f5fb;
    background: #cfdfe5;
    border: 1px solid #f1f5fb;
  }
}

.description,
.extra {
  flex: auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.description > span {
  margin-right: auto;
  padding-left: 20px;
}

.extra > span {
  margin-left: auto;
  padding-right: 20px;
}

.type {
  background: #eae7e7;
  padding: 2px 5px;
  font-size: 0.8em;
}

@media only screen and (min-width: 769px) {
  .pageInfo {
    display: flex;
  }
}

// .divider {
//   width: 2px;
//   margin: 6px 0;
//   background: blue;
// }
</style>
