<template>
  <header>
    <div class="mainNav">
      <span>
        <template v-if="!isMobile">
          <div class="linkHolder">
            <button
              v-for="(item, index) in leftArray"
              :key="index"
              class="separator"
            >
              <router-link :to="item.link" class="linkNames">{{
                item.name
              }}</router-link>
            </button>
          </div>
        </template>
        <template v-else>
          <button @click.prevent="toggle" class="barHolder">
            <font-awesome-icon :icon="barIcon" class="barIcon" />
          </button>

          <Sidebar>
            <ul class="sidebar-panel-nav">
              <li v-for="(item, index) in leftArray" :key="index">
                <router-link :to="item.link">{{ item.name }}</router-link>
              </li>
            </ul>
          </Sidebar>
        </template>
      </span>
    </div>
    <div class="title"><span>Trello</span></div>
    <div class="extra">
      <span>
        <div class="buttonHolder">
          <button class="buttonHolder__signup">
            Sign up
          </button>
          <button class="buttonHolder__login" style="margin-left: 5px;">
            Log In
          </button>
        </div>
      </span>
    </div>
  </header>
</template>

<script>
import Sidebar from "@/components/Sidebar.vue";

import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faBars } from "@fortawesome/free-solid-svg-icons";

import { mutations } from "@/statics/data/store.js";
import isMobile from "@/mixins/isMobile";

export default {
  components: {
    FontAwesomeIcon,
    Sidebar
  },
  mixins: [isMobile],
  data: function() {
    return {
      barIcon: faBars,
      leftArray: [
        { name: "Home", link: "" },
        { name: "Tour", link: "" },
        { name: "Blog", link: "" }
      ],
      windowWidth: window.innerWidth
    };
  },
  methods: {
    toggle() {
      mutations.toggleNav();
    }
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  }
};
</script>

<style lang="scss" scoped>
ul.sidebar-panel-nav {
  list-style-type: none;
}

ul.sidebar-panel-nav > li > a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  padding-bottom: 0.3em;

  &:hover {
    color: rgb(199, 199, 199);
  }
}

.barIcon {
  cursor: pointer;
  vertical-align: middle;
  color: white;
  font-size: 1.4em;

  &:hover {
    color: white;
  }
}

.separator {
  font-weight: bold;
  padding: 0 12px;
  color: black;
}

.linkNames {
  color: white;
}

.barHolder {
  &:hover {
    background: rgb(161, 202, 190);
  }
}

.buttonHolder {
  &__login {
    background: linear-gradient(150deg, #6492dd 0, #497cce);

    &:hover {
      background: linear-gradient(150deg, #427ddb 0, #1f66da);
    }
  }

  &__signup {
    background: linear-gradient(180deg, #5aac44 0, #519839);

    &:hover {
      background: linear-gradient(180deg, #58be3c 0, #49be22);
    }
  }
}

button {
  font-weight: bold;
  color: white;
  outline: 0;
  padding: 5px 10px;
  border: 0;
  background: transparent;
  border-radius: 5px;
}

header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 40px;
  align-items: center;
}

.mainNav,
.title,
.extra {
  flex: auto;
  display: flex;
  justify-content: center;
}

.mainNav > span {
  margin-right: auto;
  padding-left: 10px;
  font-size: 0.9em;
}

.extra > span {
  margin-left: auto;
  padding-right: 20px;
}

.title {
  font-weight: bold;
  color: white;
}
</style>
