<template>
  <div class="innerBody">
    <div class="innerBody__headNav">
      <navbar />
    </div>

    <div class="innerBody__content">
      <router-view />
    </div>
  </div>
</template>

<script>
import navbar from "@/components/navbar";

export default {
  components: {
    navbar
  }
};
</script>
<style lang="scss">
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  background: #f8fcff;

  ::selection {
    background: DodgerBlue;
    color: white;
  }
}

.innerBody {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;
  grid-template-rows: 40px auto;
  grid-template-areas:
    "navbar"
    "content";

  &__headNav {
    grid-area: navbar;
    background: #76a6af;
  }

  &__content {
    grid-area: content;
    overflow-x: auto;
  }
}

a {
  text-decoration: none !important;
}
</style>
