<template>
  <div class="LayoutDefault mainContent">
    <heroinfo :title="title" class="titlePlacement" />
    <slot class="listContents" />
  </div>
</template>

<script>
import heroinfo from "@/components/heroInfo";

export default {
  components: {
    heroinfo
  },
  props: {
    title: String
  },
  data: function() {
    return {
      name: "Default Page"
    };
  }
};
</script>

<style>
.LayoutDefault {
  height: max-content;
  width: min-content;
}

.mainContent {
  display: grid;
  grid-template-rows: 20px auto;
  grid-template-areas:
    "titlePlacement"
    "listContents";
}

.titlePlacement {
  padding: 5px 0;
  grid-area: titlePlacement;
}

.slotContent {
  grid-area: listContents;
}
</style>
